<div class="booking-form">
    <form autocomplete="off" id="nnk-booking-form" action="http://localhost/noortek/wp-admin/admin-post.php"
          method="POST">
        <input type="hidden" name="action" value="custom_action_hook">
        <div id="smartwizard" class="smartwizard" style="display: none;">
            <ul class="smart-wizard-menu-steps">
                <li class="smart-wizard-menu-steps-item">
                    <a href="#step-1">
                        {{ function('pll_e', 'bookingTabRules') }}
                    </a>
                </li>
                <li class="smart-wizard-menu-steps-item">
                    <a href="#step-2">
                        {{ function('pll_e', 'bookingTabRoomAndDate') }}
                    </a>
                </li>
                <li class="smart-wizard-menu-steps-item">
                    <a href="#step-3">
                        {{ function('pll_e', 'bookingTabTimeAndEquipments') }}
                    </a>
                </li>
                <li class="smart-wizard-menu-steps-item">
                    <a href="#step-4">
                        {{ function('pll_e', 'bookingTabGoal') }}
                    </a>
                </li>
                <li class="smart-wizard-menu-steps-item">
                    <a href="#step-5">
                        {{ function('pll_e', 'bookingTabResponsible') }}
                    </a>
                </li>
                <li class="smart-wizard-menu-steps-item">
                    <a href="#step-6">
                        {{ function('pll_e', 'bookingTabConfirmation') }}
                    </a>
                </li>
            </ul>
            <div class="smart-wizard-steps">
                <div id="step-1" class="step-1">
                    <div class="form-group">
                        <div class="rules-tab__subtitle">
                            {{ function('pll_e', 'bookingTabRulesSubtitle1') }}:
                        </div>
                        <ul class="rules-tab__list">
                            <li>{{ function('pll_e', 'bookingTabRulesItem1') }}.</li>
                            <li>{{ function('pll_e', 'bookingTabRulesItem2') }}.</li>
                            <li>{{ function('pll_e', 'bookingTabRulesItem3') }}.</li>
                            <li>{{ function('pll_e', 'bookingTabRulesItem4') }}.</li>
                            <li>{{ function('pll_e', 'bookingTabRulesItem5') }}.</li>
                        </ul>
                        <div class="rules-tab__subtitle">
                            {{ function('pll_e', 'bookingTabRulesSubtitle2') }}:
                        </div>
                        <ul class="rules-tab__list">
                            <li>{{ function('pll_e', 'bookingTabRulesItem6') }}.</li>
                            <li>{{ function('pll_e', 'bookingTabRulesItem7') }}.</li>
                            <li>{{ function('pll_e', 'bookingTabRulesItem8') }}.</li>
                            <li>{{ function('pll_e', 'bookingTabRulesItem9') }}.</li>
                        </ul>
                        <span>{{ function('pll_e', 'bookingTabRulesItem10') }}.</span>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rules_checkbox" name="rules">
                        <label class="form-check-label" for="rules_checkbox">
                            {{ function('pll_e', 'bookingTabRulesLabelConfirm') }}.
                        </label>
                    </div>
                </div>
                <div id="step-2" class="step-2">
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="date">{{ function('pll_e', 'bookingTabRoomAndDateLabelDate') }}*</label>
                            <input type="text" id="date" class="datepicker-here form-control"
                                   data-position="bottom center" readonly name="date">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="select-room">{{ function('pll_e', 'bookingTabRoomAndDateLabelRoom') }}*</label>
                            <div class="row">
                                {% for room in rooms %}
                                    <div class="col-md-4">
                                        <div class="card ">
                                            <img class="card-img-top"
                                                 src="{{ function('get_the_post_thumbnail_url', room.ID, 'post-thumbnail') }}"
                                                 alt="room-picture">
                                            <div class="card-body">
                                                <span class="card-title">
                                                    {{ room.post_title }}
                                                </span>
                                                <div class="price">
                                                    <strong>{{ function('pll_e', 'bookingTabRoomAndDateLabelPrice') }}
                                                        :</strong> {{ room.price }} EUR
                                                    / {{ function('pll_e', 'bookingTabRoomAndDatePriceUnit') }}
                                                </div>
                                                <div class="btn-group btn-group-toggle"
                                                     data-toggle="buttons">
                                                    <label class="btn btn-secondary btn-sm card-button ">
                                                        <input type="radio" name="room" id="option{{ room.ID }}"
                                                               class="room_selected"
                                                               autocomplete="off"
                                                               value="{{ room.ID }}"> {{ function('pll_e', 'bookingTabRoomAndDateLabelSelect') }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-3" class="step-3">
                    <div class="timepicker_area">
                        <div class="row">
                            <div class="form-group col-md-5 col-sm-12">
                                <div class="timepicker">
                                    <label for="timeFrom">{{ function('pll_e', 'bookingTabTimeAndEquipmentsLabelTimeFrom') }}
                                        *</label>
                                    <input type="text" class="form-control time" name="time_from"
                                           id="timeFrom">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-5 col-sm-12">
                                <div class="timepicker">
                                    <label for="timeUntil">{{ function('pll_e', 'bookingTabTimeAndEquipmentsLabelTimeUntil') }}
                                        *</label>
                                    <input type="text" class="form-control time" name="time_until"
                                           id="timeUntil">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="timetable"></div>
                        </div>
                    </div>
                    <label for="resources"><strong>{{ function('pll_e', 'bookingTabTimeAndEquipmentsLabelResources') }}
                            :</strong></label>
                    <div class="form-group">
                        {% for key, item in equipment %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="resources{{ key }}"
                                       name="resources[]"
                                       value="{{ item.ID }}">
                                <label class="form-check-label" for="resources{{ key }}">
                                    {{ item.post_title }}
                                    {{ item.price }} EUR
                                    / {{ item.unit }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="step-4" class="step-4">
                    <div class="form-group">
                        <label for="participants">{{ function('pll_e', 'bookingTabGoalLabelParticipants') }}*</label>
                        <input type="number" class="form-control" id="participants" name="participants_num"
                               onkeydown="return event.keyCode !== 69"
                               placeholder="{{ function('pll_e', 'bookingTabGoalLabelParticipantsPlaceholder') }}"
                               onfocus="placeholder = ''"
                               onblur="placeholder = '{{ function('pll_e', 'bookingTabGoalLabelParticipantsPlaceholder') }}'">
                    </div>
                    <div class="form-group">
                        <label for="purpose">{{ function('pll_e', 'bookingTabGoalLabelGoal') }}*</label>
                        <input type="text" class="form-control" id="purpose" name="purpose"
                               placeholder="{{ function('pll_e', 'bookingTabGoalLabelGoalPlaceholder') }}"
                               onfocus="placeholder = ''"
                               onblur="placeholder = '{{ function('pll_e', 'bookingTabGoalLabelGoalPlaceholder') }}'">
                    </div>
                    <div class="form-group">
                        <label for="info">{{ function('pll_e', 'bookingTabGoalLabelInfo') }}</label>
                        <textarea class="form-control" id="info" name="info" rows="3"
                                  placeholder="{{ function('pll_e', 'bookingTabGoalLabelInfoPlaceholder') }}"
                                  onfocus="placeholder = ''"
                                  onblur="placeholder = '{{ function('pll_e', 'bookingTabGoalLabelInfoPlaceholder') }}'"
                        > </textarea>
                    </div>
                </div>
                <div id="step-5" class="step-5">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="firstname">{{ function('pll_e', 'bookingTabResponsibleLabelFirstName') }}
                                *</label>
                            <input type="text" class="form-control" id="firstname" name="firstname">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="lastname">{{ function('pll_e', 'bookingTabResponsibleLabelLastName') }}*</label>
                            <input type="text" class="form-control" id="lastname" name="lastname">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="phone">{{ function('pll_e', 'bookingTabResponsibleLabelPhone') }}*</label>
                            <input type="number" class="form-control" id="phone" name="phone"
                                   onkeydown="return event.keyCode !== 69">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="email">{{ function('pll_e', 'bookingTabResponsibleLabelEmail') }}*</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address">{{ function('pll_e', 'bookingTabResponsibleLabelAddress') }}*</label>
                        <input type="text" class="form-control" id="address" name="address"
                               placeholder="{{ function('pll_e', 'bookingTabResponsibleLabelAddressPlaceholder') }}"
                               onfocus="placeholder = ''"
                               onblur="placeholder = '{{ function('pll_e', 'bookingTabResponsibleLabelAddressPlaceholder') }}'">
                    </div>
                </div>
                <div id="step-6" class="step-6">
                    <div class="form-group position-relative preloader-container">
                        <div class="preloader">
                            <div class="preloader-with-text">
                                <div class="loader">
                                    <img src="{{ svgPreloaderPath }}" alt="">
                                </div>
                                <p class="preloader-text">{{ function('pll_e', 'bookingTabPreloaderString1') }}</p>
                                <p class="preloader-text">{{ function('pll_e', 'bookingTabPreloaderString2') }}</p>
                            </div>
                        </div>
                        <div id="totalSumma">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
