<div class="booking-container">
    <p><h4><strong>Broneeringu nr: {{ bookingLetter.bookingDate }}</strong></h4></p>

        <div>
            <strong>Broneerija:</strong>
        </div>
        <div class="booker">
            <div>Nimi: {{ bookingLetter.firstName }} {{ bookingLetter.lastName }}</div>
            <div>Tel: +372 {{ bookingLetter.phone }}</div>
            <div>Email: {{ bookingLetter.email }}</div>
            <div>Aadress: {{ bookingLetter.address }}</div>
            <br>
        </div>

</div>
<div>
    <p><strong>Eesmärk: </strong>{{ bookingLetter.purpose }}</p>
</div>
<div>
    <p><strong>Osalejate arv: </strong>{{ bookingLetter.participants }} inimest</p>
</div>

<div>
    <p><strong>Lisainfo: </strong>
        <br>
        {{ bookingLetter.info }}
    </p>
</div>

<div>
    <table align="left" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <th>Nimetus</th>
            <th>Kestvus</th>
            <th>Hind/t</th>
            <th>Summa</th>
        </tr>
        {% for item in bookingLetter.invoiceRows %}
            <tr>
                <td align="center" style="padding: 20px 0 20px 0;">

                {{ item.name }}
                </td>

                <td>
                    {{ bookingLetter.timeFrom }}-{{ bookingLetter.timeUntil }} ({{ item.amount }} tundi)
                </td>
                <td>
                    {{ item.price }} EUR
                </td>
                <td>
                    {{ item.total }} EUR
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="alert alert-dark" role="alert">
                    Kokku: {{ bookingLetter.totalAmount }} EUR
                </div>

            </td>
        </tr>
    </table>
</div>

